<h1>Your Dashboard</h1>
<a href="/dashboard/new">Create New Post</a>
<ul>
    {{#each posts}}
        <li>
            <h2>{{this.title}}</h2>
            <p>{{this.content}}</p>
            <a href="/dashboard/edit/{{this.id}}">Edit</a>
            <form action="/api/posts/{{this.id}}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </li>
    {{/each}}
</ul>