<h1>Create New Post</h1>
<form id="new-post-form" method="POST">
    <label for="post-title">Title</label>
    <input type="text" name="title" id="post-title" required>
    <link rel="stylesheet" href="/css/style.css">
    <label for="post-content">Content</label>
    <textarea name="content" id="post-content" required></textarea>
    
    <button type="submit">Create Post</button>
</form>
<script src="/routes/newpost.js"></script>
<script src="/routes/editpost.js"></script>